mat-card {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

mat-card-action {
  display: flex;
  flex-direction: column;
}

.config {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-checkbox {
  margin: 2em;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-log {
  margin: 0 1em;
}

.get-log {
  align-self: baseline;
  margin: 0 1em;
}

mat-card-content {
  padding-top: 1em;
  overflow: hidden;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.log-content {
  flex: 1 0 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
}

p {
  white-space: pre;
  margin: 1em !important;
}