<mat-card class="mat-elevation-z3">
  <form [formGroup]="form">
    <!-- Log Config -->
    <mat-card-actions>
      <!-- Select Server -->
      <mat-form-field>
        <mat-select formControlName="serverSelect" (selectionChange)="onChangeServer()">
          <mat-select-trigger>{{selectedServer.name}}</mat-select-trigger>
          <mat-option *ngFor="let server of servers" [value]="server">{{server.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Select Log Types -->
      <mat-checkbox *ngFor="let logType of logTypes" formControlName="{{logType}}">{{logType}}</mat-checkbox>

      <!-- Follow Checkbox -->
      <section>
        <!-- <button mat-raised-button color="primary" (click)="updateLogContent('')">Update</button> -->
        <button mat-raised-button color="primary" (click)="getLog()" [disabled]="following">Get Log</button>
        <button *ngIf="!following" mat-raised-button color="primary" (click)="followLog()">Follow</button>
        <button *ngIf="following" mat-raised-button color="accent" (click)="unfollowLog()">Unfollow</button>
      </section>
    </mat-card-actions>
    <mat-divider></mat-divider>

    <!-- Log Textbox -->
    <mat-card-content>
      <div id="log-box-{{serverName}}" *ngFor="let serverName of selectedServer.serverNames" class="log-content">
        <p id="log-content-{{serverName}}" contenteditable="true"></p>
      </div>
    </mat-card-content>
  </form>
</mat-card>