mat-card {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  overflow: hidden;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

mat-checkbox {
  margin: 2em;
}

section {
  position: absolute;
  right: 1em;
  bottom: 0;
}

mat-card-content {
  overflow: auto;
  height: 65vh;
}

p {
  white-space: pre;
  margin: 1em;
}