mat-card {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

mat-checkbox {
  margin: 2em;
}

section {
  position: absolute;
  right: 1em;
  bottom: 0;
}

mat-card-content {
  padding-top: 1em;
  overflow: hidden;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.log-content {
  flex: 1 0 0;
  height: 100%;
  overflow: auto;
}

p {
  white-space: pre;
  margin: 1em !important;
}