<div class="center">
  <div class="left-align">
    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input autofocus="true" formControlName="gamerHandle" matInput placeholder="Gamer Handle">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Generate</button>
    </form>

    <!-- Generated Synonyms -->
    <mat-list role="list" class="mat-elevation-z2">
      <ng-container *ngFor="let synonym of synonyms">
        <mat-list-item role="listitem">{{synonym}}</mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>